{% for estudiante in estudiantes %}
    <p>{{ estudiante.nombre }}</p>
{% empty %}
    <p>No se encontraron resultados.</p>
{% endfor %}

{% for profesor in profesores %}
    <p>{{ profesor.nombre }}</p>
{% empty %}
    <p>No se encontraron resultados.</p>
{% endfor %}

{% for curso in cursos %}
    <p>{{ curso.nombre }}</p>
{% empty %}
    <p>No se encontraron resultados.</p>
{% endfor %}

{% comment %} {% for comision in comisiones %}
    <p>{{ comision.nombre }}</p>
{% empty %}
    <p>No se encontraron resultados.</p>
{% endfor %} {% endcomment %}